li {
    display: grid;
    grid-gap: 20px;
    padding: 0%;
}

.header_background {
    opacity: 0.85;
    top: 0px;
    left: 0px;
    width: 390px;
    height: 170px;
    background: rgba(185, 138, 90, 0.85);  
}

.homebg { 
    background: url(../images/homepage_bg.jpg) no-repeat;
    top: -180px;
    left: -525px;
    width: 1440px;
    height: 1024px;
    filter: brightness(50%);
    background-size: 100%;
    position: center;
}


.paragraph {
    width: 365px;
    height: 201px;
    left: 20px;
    top: 233px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    color: #FFFFFF;
}
/* Home Phone */

position: relative;
width: 390px
height: 844px;

/* global styles-------------------------------------------------------------------------------- */
header, footer, nav{ /*remember to add more*/
    display:block;
}
@media only screen and (min-width:600px) (max-width: 920px){
    body {width: 90%;
    }
}
@media only screen and (max-width: 599px){
    body{
        width:320px;
    }
    pre {
        font-size: .8em;
        padding: .5em;
    }
}

/* Mobile styles--------------------------------------------------------------------------------- */
@media only screen and (max-width:480px){
    body{
        width:320px;
    }
    pre {
        font-size: .8em;
        padding: .5em;
        font-weight: bold;
    }

}
/* Desktop styles--------------------------------------------------------------------------------- */
@media only screen and (min-width: 769px){
    body{
        width:320px;
    }
    pre {
        font-size: 1.2em;
        padding: 1em .5em;
    
    }
}

/*Table styles-------------------------------------------------------------------------------------*/
@media only screen and (min-width:481px) and (max-widt: 768px){
    body{
        width:80%;
    }
    pre {
        font-size: 1em;
        padding: .5em;
    }
}