body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

li {
    display: flex;
    gap: 37px;
    font-size: 26px;
}

.home {
    width: 138px;
    height: 23px;
    top: 144px;
    left: 525px;

    position: absolute;
}

.collection {
    height: 28px;
    width: 152px;
    left: 683px;
    top: 144px;
    border-radius: 0px;

    position: absolute;
    width: 152px;
    height: 28px;
    left: 683px;
    top: 144px;
}

.about {
    height: 28px;
    width: 100px;
    left: 872px;
    top: 144px;
    border-radius: 0px;

    position: absolute;
    width: 100px;
    height: 28px;
    left: 872px;
    top: 144px;
}

.contact {
    height: 29px;
    width: 119px;
    left: 1019px;
    top: 143px;
    border-radius: 0px;

    position: absolute;
    width: 119px;
    height: 29px;
    left: 1019px;
    top: 143px;
}

.mycart {
    height: 29px;
    width: 113px;
    left: 1185px;
    top: 144px;
    border-radius: 0px;

    position: absolute;
    width: 113px;
    height: 29px;
    left: 1185px;
    top: 144px;

}

header {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 210px;
    width: 100%;
    background-image: url('/images/Header_background.png');
    background-size: cover;
    text-align: center;
}

.logo {
    transform: scale(0.3);
    width: 100px;
    height: 70px;
    z-index: 3;
}


/* Background */
.html {
    background: url('../images/homepage_bg.jpg') no-repeat center fixed;
    background-size: cover;
    max-width: auto;
    height: auto;
    filter: brightness(50%);
    z-index: 1;
}

/* Home Phone */

/*position: relative;
width: 390px
height: 844px; */

/* global styles-------------------------------------------------------------------------------- */
/*
@media only screen and (min-width:600px) (max-width: 920px) {
    body {
        width: 90%;
    }
}

@media only screen and (max-width: 599px) {
    body {
        width: 320px;
    }

    pre {
        font-size: .8em;
        padding: .5em;
    }
}

/* Mobile styles--------------------------------------------------------------------------------- */
/*
@media only screen and (max-width:480px) {
    body {
        width: 320px;
    }

    pre {
        font-size: .8em;
        padding: .5em;
        font-weight: bold;
    }

}

/* Desktop styles--------------------------------------------------------------------------------- */
/*
@media only screen and (min-width: 769px) {
    body {
        width: 320px;
    }

    pre {
        font-size: 1.2em;
        padding: 1em .5em;

    }
}

/*Table styles-------------------------------------------------------------------------------------*/
/*
@media only screen and (min-width:481px) and (max-widt: 768px) {
    body {
        width: 80%;
    }

    pre {
        font-size: 1em;
        padding: .5em;
    }
}